body{
    background-color: rgb(39, 133, 187);
    padding: 0;
    margin: 0;
    font-size: 20px;
    align-items: center;
}
.container{
    text-align: center;
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.header{
    color: white;
    text-transform: uppercase;
}
 .container .input{
    align-items: center;
    
}
/* .inputs .input{
    display: flex;
    font-size: 90px;
    width: 60px;
    margin: left auto;
    text-align: center;
} */
.input1{
    font-size: 25px;
    width: 460px;
}
.task{
    display: flex;
    text-align: center;
    width: 450px;
    padding-top: 10px;
}
.text{
    font-size: 25px;
    background-color: rgb(90, 161, 202);
    color: white;
    border: none;
    padding-left: 12px;
}
.delete{
    font-size: 25px;
    background-color: rgb(90, 161, 202);
    color: black;
    padding-right: 20px;
    border: none;
}
.submitBtn{
    font-size: 25px;
}
.submitBtn{
    background-image: url(/pencil-alt.svg);
    background-repeat: no-repeat;
    width: 70px; height: 60px;
    background-color: rgb(39, 133, 187);
    border: none;
    font-size: 20px;
    
}
#command-input{
    color: rgb(253, 253, 59);
}
#command-click{
    color: greenyellow
}
#command-remove{
    color: black
}